#welcome{
    background-image: url(img/assets/backgrounds/h_img.jpg);
    
}
.wel{
    color: white;
    text-align: center;
    font-family: 'Black Ops One', cursive;
    padding: 25px;
  
}
#about{
    text-align: center;
    font-family: 'Abel', sans-serif;
}
.jumbotron{
    background-color: transparent;
}
#service{
    text-align: center;
    background-image: url(img/assets/backgrounds/s_image.jpg);
    color: white;
    font-family: 'Abel', sans-serif;
}
#whatwedo{
    text-align: center;
    font-family: 'Abel', sans-serif;
}
#portfolio{
    text-align: center;
}
#contact{
    background-image: url(img/assets/backgrounds/c_image.jpg);
    color: white;
    margin-top: 15px;
}
footer{
    text-align: center;
    margin-top: 20px;
    font-family: 'Cookie', cursive;
    padding: 10px;
}
.col-md-3 img{
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 15px;
  }
  .text{
    text-align: center;
   
  }
  input[type="text"],input[type="email"],#comment{
      background-color: transparent;
      color: white;
      text-align: center;
  }