#welcome{
    background-image: url(img/assets/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.wel{
    color: white;
    text-align: center;
    font-family: 'Black Ops One', cursive;
    padding: 25px;
  
}
#about{
    text-align: center;
    font-family: 'Abel', sans-serif;
}
.jumbotron{
    background-color: transparent;
}
#service{
    text-align: center;
    background-image: url(img/assets/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Abel', sans-serif;
}
#whatwedo{
    text-align: center;
    font-family: 'Abel', sans-serif;
}
#portfolio{
    text-align: center;
}
#contact{
    background-image: url(img/assets/backgrounds/c_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-top: 15px;
}
footer{
    text-align: center;
    margin-top: 20px;
    font-family: 'Cookie', cursive;
    padding: 10px;
}
.col-md-3 img{
    max-width: 90%;
    max-height: 90%;
    margin-bottom: 15px;
  }
  .text{
    text-align: center;
   display: none;
  }
  input[type="text"],input[type="email"],#textarea{
      background-color: transparent;
      color: white;
      text-align: center;
  }
  .form-control::-webkit-input-placeholder{
      color: white;
  }
  #name,#anyemail,#textarea{
      margin-left: 15px;
      margin-bottom: 15px;
  }
  #textarea{
      width: 750px;

  }
  #wedodesign,#wedodevelopment,#wedoproduct{
      display: none;
  }

  .mouse-click {
    animation: bounce 3s infinite;
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-50px);
    }
    50% {
      transform: translateY(-50px);
    }
  }
  